$hover-color: #FF4136;
a {
  cursor: pointer;
  color: $hover-color !important;
  text-decoration: underline dotted !important;
  transition: transform .5s !important; /* Animation */

  &:hover {
    transform: scale(1.1) !important;
  }
}