<h1 class="mat-display-3 text-center">MAIN FIELDS</h1>

<ul class="m-5">
  <li>
    <p> Web development( <a (click)="scroll(web)"> more...</a>) and software engineering(<a (click)="scroll(general)"> more...</a>)</p>
  </li>
  <li>
    <p> Well known with Cigre/EPRI books and many engeneering standards and magazines </p>
  </li>
  <li>
    <p>  Mathematics, Theoretical and Technical Physics: Mathematical Analysis, Electromagnetic, Heat and photovoltaics phenomena, Circuit theory etc.</p>
  </li>
</ul>

<h2 class="mat-display-2 text-center" #web>WEB PROGRAMMING</h2>

<ul class="m-5">
  <li>
   <p> Frontend: Angular, rxjs, ngrx, React, nextjs, graphql/apollo, graphql-codegen, Redux, axios, fetch api, AJAX, material-ui, bootstrap, CSS/Sass </p>
  </li>
  <li>
    <p> 
  Backend: node.js, express, typescript, typeorm, mongoose, mongodb, passport, graphql, apollo-server, gridfs, multer, npm, yarn, rapid-api, Databases: MongoDB, Postgres, MySQL</p>
  </li>
  <li>
    <p> Deployment: Heroku, GithubPages, Netlify, Namecheap, Cloudflare, ForwardEmail, AWS </p>
  </li>
</ul>

<h2 class="mat-display-2 text-center" #general>GENERAL PURPOSE PROGRAMMING</h2>

<ul class="m-5">
  <li>
    <p> Julia: Creating sofware using Julia and C/C++/Python/Matlab based packages </p>
  </li>
  <li>
    <p>Python: Python: Quick-written application, pyplots</p>
  </li>
  <li>
  <p>C: CUDA, Microcontrollers, console applications, CImGui, openGL</p>
  </li>
  <li>
  <p>Matlab/Octave: Creating scripts with plots, colormaps etc.</p>
  </li>
  <li>
  <p>C++: object oriented C++, CUDA, openGL, SFML, ImGui </p>
  </li>
</ul>




