<h1 class="mat-display-4 text-center">MAIN FIELDS</h1>

<mat-list dense class="m-5">
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Web development( <a (click)="scroll(web)"> more...</a>) and software engineering(<a (click)="scroll(general)"> more...</a>)
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Well known with Cigre/EPRI books and many engeneering standards and magazines
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Mathematics, Theoretical and Technical Physics: Mathematical Analysis, Electromagnetic, Heat and photovoltaics phenomena, Circuit theory etc.
  </mat-list-item>
</mat-list>

<h2 class="mat-display-2 text-center" #web>WEB PROGRAMMING</h2>

<mat-list dense class="m-5">
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Frontend: Angular, rxjs, ngrx, React, graphql/apollo, graphql-codegen, Redux, axios, fetch api, AJAX, material-ui, bootstrap, CSS/Sass
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Backend: node.js, express, typescript, typeorm, mongoose, mongodb, passport, graphql, apollo-server, gridfs, multer, npm, yarn, rapid-api, Databases: MongoDB, Postgres, MySQL
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Deployment: Heroku, GithubPages, Netlify, Namecheap, Cloudflare, ForwardEmail
  </mat-list-item>
</mat-list>

<h2 class="mat-display-2 text-center" #general>GENERAL PURPOSE PROGRAMMING</h2>

<mat-list dense class="m-5">
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Julia: Creating sofware using Julia and C/C++/Python/Matlab based packages
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Python: Python: Quick-written application, pyplots
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    C: CUDA, Microcontrollers, console applications, CImGui, openGL
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    Matlab/Octave: Creating scripts with plots, colormaps etc.
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>
    C++: object oriented C++, CUDA, openGL, SFML, ImGui 
  </mat-list-item>
</mat-list>




