$hover-color: #FF4136;
$toggle-color: white;
.sidenav {
  width: 200px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 4rem;
  height: 150px;
}

.toggle {
  position: absolute; 
  right: 0; 
  top:0;
  color: $toggle-color;
}

.sidenav {
  .mat-toolbar {
    background: inherit;
  }
}

.mat-toolbar.mat-primary {
  z-index: 1;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding-left: 0 !important;
}

mat-sidenav-container {
  padding: 0 !important;
}

.mat-menu-item {
  text-align: center;
}

.menu {
  display: flex !important;
  width: 100%;
  justify-content: space-between;
  a {
    &:hover{
      opacity: 0.5;
    }
  }
}

.mat-list-item {
  height: 64px !important;
}

// .active-link {
//   background-color: $hover-color !important;
// }

.footer{
  font-size: 0.8rem;
  width: 100% !important;
  padding-top: 5rem;
  // justify-content: flex-end !important;
  position: absolute;
  bottom: 0;
}

.copyright {
  display: flex; 
  justify-content: center; 
  padding: 5rem 0;
  color: white
}


.welcome {
  text-align: end;
  margin-right: 2rem;
}

.mat-toolbar {
  display: flex !important;
  justify-content: space-between !important;
}

mat-sidenav-content {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}
