$hover-color: #FF4136;
$toggle-color: white;
$linkedin-color:#0E76A8;
.sidenav {
  width: 230px;
}


.toggle {
  position: fixed; 
  z-index: 3;
  right: 0; 
  top:0;
  color: $toggle-color;
}

.sidenav {
  .mat-toolbar {
    background: inherit;
  }
}

.mat-toolbar.mat-primary {
  z-index: 1;
}

.mat-list-base {
  padding: 0 !important;
}

.break-word {
  white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding-left: 0 !important;
}

mat-sidenav-container {
  padding: 0 !important;
}

mat-sidenav-content {
  overflow: hidden !important;
}

.mat-menu-item {
  text-align: center;
}

.menu {
  a {
    &:hover{
      opacity: 0.5;
    }
  }
}

.mat-list-item {
  height: 64px !important;
}


.footer{
  font-size: 0.8rem;
  width: 100% !important;
}



.copyright {
  display: flex; 
  justify-content: center; 
  padding: 4rem 0;
  color: white
}

.linkedin {
  &:hover {
    color: $linkedin-color;
  }
}

a {
  color: white;
  cursor: pointer;
}

.scroll_button {
  mat-icon {
    font-size: 6rem;
    margin-right: 4rem;
    transition: transform .5s; /* Animation */
    &:hover {
      transform: scale(1.2);
      color: $hover-color;
    }
  }
}

.scroll {
  height: 20rem;
  margin: 30rem 0 2rem 0;
  cursor:default;
  text-align: center;
  color: white;
}

.logo {
  height: 20rem;
  padding-top: 10rem;
  a {
    border: solid white 5px;
  }
  margin: 30rem 0 2rem 0;
}

.welcome {
  text-align: end;
  margin-right: 2rem;
}

.footer-row {
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem !important;

  .name {
    margin-right: 5rem;
  }
}

mat-sidenav-content {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}
