<ng-template #menu>
  <a
    mat-list-item
    routerLink="/"
    class="text-center d-flex justify-content-center mat-body break-word"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="drawer.close()"
    >INFO & PROJECTS</a
  >
  <a 
    mat-list-item href="/app"
    class="text-center d-flex justify-content-center mat-body break-word"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="drawer.close()">
      APP
    </a>
  <a
    mat-list-item
    routerLink="/skills"
    class="text-center d-flex justify-content-center mat-body break-word"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="drawer.close()"
    >SKILLS & KNOWLEDGE</a
  >
  <a
    mat-list-item
    routerLink="/experience"
    routerLinkActive="active-link"
    class="text-center d-flex justify-content-center mat-body break-word"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="drawer.close()"
    >EXPERIENCE & EDUCATION</a
  >
  <a
    mat-list-item
    routerLink="/posts"
    routerLinkActive="active-link"
    class="text-center d-flex justify-content-center mat-body break-word"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="drawer.close()"
    >POSTS</a
  >
  <div *ngIf="(isMobile$ | async)">
  <div
    *ngIf="(user$ | async)[0] == null; then login_button; else logout_button"
  ></div>
</div>
</ng-template>

<ng-template #login_button>
  <a *ngIf="!(isMobile$ | async)" mat-list-item [matMenuTriggerFor]="appMenu"
    ><mat-icon>login</mat-icon>
  </a>
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item (click)="AuthDialog(true)">Login</a>
    <a mat-menu-item (click)="AuthDialog(false)">Register</a>
  </mat-menu>
  <div *ngIf="isMobile$ | async">
    <a mat-list-item class="text-center d-flex justify-content-center mat-body break-word" (click)="AuthDialog(true)">Login</a>
    <a mat-list-item class="text-center d-flex justify-content-center mat-body break-word" (click)="AuthDialog(false)">Register</a>
  </div>
</ng-template>

<ng-template #logout_button>
  <a mat-list-item (click)="logout()">Logout</a>
</ng-template>

<ng-template #show_logo>
  <div
    [@logo_animation]="(logo$ | async) ? 'active' : 'inactive'"
    class="d-flex justify-content-center logo"
  >
    <a mat-button routerLink="/">
      <img
        src="assets/logo/logowhite.svg"
        height="150"
        alt="Kiwi standing on oval"
      />
    </a>
  </div>
</ng-template>

<ng-template #show_scroll>
  <div
    [@logo_animation]="(logo$ | async) ? 'inactive' : 'active'"
    class="d-flex justify-content-center scroll"
  >
    <div>
      <h1
        [ngClass]="(isMobile$ | async) ? 'mat-display-2' : 'mat-display-4'"
        style="font-weight: 500"
      >
        MY PORTFOLIO
      </h1>
      <p
        [ngClass]="(isMobile$ | async) ? 'mat-h3' : 'mat-h1'"
        style="font-style: italic"
      >
        Showcase of my projects and my abilities
      </p>
      <a mat-list-item class="scroll_button" (click)="scroll(logoScroll)">
        <mat-icon>arrow_circle_down</mat-icon>
      </a>
    </div>
  </div>
</ng-template>

<button
  class="toggle"
  type="button"
  aria-label="Toggle sidenav"
  mat-icon-button
  (click)="drawer.toggle()"
  *ngIf="isMobile$ | async"
>
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
<div *ngIf="logo$ | async; then show_logo; else show_scroll"></div>

<mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="isMobile$ | async"
  >
    <!-- Sidenav content  -->
    <mat-toolbar class="d-flex justify-content-center">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    </mat-nav-list>
  </mat-sidenav>

<mat-sidenav-container class="sidenav-container container">
  <!-- <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="isMobile$ | async"
  >
    <mat-toolbar class="d-flex justify-content-center">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    </mat-nav-list>
  </mat-sidenav> -->
  

  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar" color="background" class="mb-4">
      <!-- Menu content -->
      <mat-nav-list class="menu d-flex w-100" [ngClass]="(isMobile$ | async) ? 'justify-content-end': 'justify-content-between'">
        <div class="d-flex" *ngIf="!(isMobile$ | async)">
          <ng-container *ngTemplateOutlet="menu"></ng-container>
        </div>

        <div class="d-flex">
          <a
            mat-list-item
            href="https://github.com/wiktorkujawa/"
            target="_blank"
          >
            <i class="fab fa-github mb-1"></i>
          </a>
          <a
            mat-list-item
            class="linkedin"
            href="https://www.linkedin.com/in/wiktor-kujawa-110bb2194/"
            target="_blank"
          >
            <i class="fab fa-linkedin mb-1"></i>
          </a>
          <div *ngIf="!(isMobile$ | async)">
          <div
          *ngIf="(user$ | async)[0] == null; then login_button; else logout_button"
        ></div>
      </div>
          <a mat-list-item>
            <mat-slide-toggle
              (change)="onSwitchTheme($event)"
            ></mat-slide-toggle>
          </a>
        </div>
      </mat-nav-list>
    </mat-toolbar>

    <!-- <h2 class="welcome" *ngIf="(user$ | async)[0] !== null">
      Hello {{ (user$ | async)[0]?.displayName }}
    </h2>
    <h2 class="welcome" *ngIf="message$ | async">
      {{ (message$ | async)[0]?.message }}
    </h2> -->

    <div class="mt-5" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #logoScroll #outlet="outlet"></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="sidenav-container container">
<div class="footer">
  <mat-toolbar class="footer-row align-items-start">
    <div class="name">
      <p class="mat-body-strong">ADDRESS</p>
    </div>
    <div class="content">
      <p class="mat-caption">
        Sucharskiego 1a/26 <br />
        Olsztyn, 10-693 <br />
        Poland
      </p>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-toolbar class="footer-row align-items-start">
    <div class="name">
      <p class="mat-body-strong">PHONE</p>
    </div>
    <div><p class="mat-caption">+48 697 141 580</p></div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-toolbar class="footer-row">
    <div class="name">
      <p class="mat-body-strong">EMAIL</p>
    </div>
    <div>
      <p class="mat-caption">
        <a mat-button href="mailto:wiktorkujawa1993@gmail.com"
          >wiktorkujawa1993@gmail.com</a
        >
        <br />
        <a mat-button href="mailto:support@just-dev-it.com"
          >support@just-dev-it.com</a
        >
      </p>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-toolbar class="footer-row">
    <div class="name">
      <p class="mat-body-strong">SOCIAL</p>
    </div>
    <div class="d-flex mb-3">
      <mat-nav-list class="menu d-flex">
        <a
          mat-list-item
          href="https://github.com/wiktorkujawa/"
          target="_blank"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          mat-list-item
          class="linkedin"
          href="https://www.linkedin.com/in/wiktor-kujawa-110bb2194/"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </mat-nav-list>
    </div>
  </mat-toolbar>
</div>
</mat-sidenav-container>

<div class="copyright mat-body-2">
  © JUST-DEV-IT.COM | DESIGN: WIKTOR KUJAWA
</div>
