$hover-color: #FF4136;

.sidenav {
  width: 200px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 4rem;
  height: 150px;
}

.toggle {
  position: absolute; 
  right: 0; 
  top:0;
  color: white;
}

.sidenav {
  .mat-toolbar {
  background: inherit;
  }
  a {
    &:hover{
      color: $hover-color;
    }
  }
}

.mat-toolbar.mat-primary {
  z-index: 1;
}

mat-sidenav-container {
  padding: 0 !important;
}

.mat-menu-item {
  text-align: center;
  &:hover {
    color: $hover-color;
  }
}

.menu {
  display: flex !important;
  width: 100%;
  justify-content: space-between;
  a {
    &:hover{
      color: $hover-color;
    }
  }
}

.footer{
  font-size: 0.8rem;
  justify-content: flex-end !important;
  position: absolute;
  bottom: 0;
}

.welcome {
  text-align: end;
  margin-right: 2rem;
}

.mat-toolbar {
  display: flex !important;
  justify-content: space-between !important;
}

mat-sidenav-content {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}
