<div>
  <article>
    <header>
      <h1 class="text-center mat-display-3">About me</h1>
      <p class="text-center about mx-5 mb-4">
        Wiktor Kujawa is a graduated engineer from Gdansk University Of
        Technology on degree course of Technical Physics with specialization in
        Applied Physics and former R&D engineer in Eltel Networks Energetyka S.A.
        and a passionate developer and software engineer which loves to
        challenge with hard problems and modern technologies. <br />
        Knowledgeably connected in the fields of physics, mathematics,
        engineering and IT. Skilled in programming languages:
      </p>

      <ul class="mx-5">
        <li><p>
          
          General purpose: Julia,C, C++, CUDA, Python, Matlab/Octave,
          Mathematica
        </p></li>
        <li><p>
          
          Web: MERN stack(with apollo/graphql or redux), MEAN stack (with ngrx
          or graphql and rxjs), typescript, vanilla js
        </p></li>
        <li><p>
          
          MCU: C(AVR), Arduino
        </p></li>
      </ul>

      <p class="mx-5 mt-5">
        Specialized in numerical analysis, creating software applications
        allowing to solve engineering and scientific problems in the fields of:
      </p>

      <ul class="mx-5">
        <li><p>
          
          Heat Flows
        </p></li>
        <li><p>
          
          Electromagnetic fields
        </p></li>
        <li><p>
          
          Forces occurring on overhead lines in case of short-circuit currents
        </p></li>
        <li><p>
          
          Induced sheath voltages and sheath circulating currents problems
        </p></li>
      </ul>
    </header>

    <mat-card class="m-5">
      <a href="https://github.com/wiktorkujawa/" target="_blank">
      <img
        mat-card-image
        class="image"
        src="assets/EM-field-3d.gif"
        alt="My main project"
      />
    </a>
    </mat-card>
    <div class="d-flex justify-content-center">
      <a
        class="break-word mb-5 mt-5"
        mat-stroked-button
        color="background"
        href="https://github.com/wiktorkujawa/"
        target="_blank"
        >CHECK OUT MY GITHUB PROJECTS</a
      >
    </div>

    <section class="projects m-5" id="projects">
       <app-projects></app-projects>
    </section>
  </article>
</div>
