<div class="m-5">
  <article>
  <header>
  <h1 class="title">About me</h1>
  <p class="about">
    Wiktor Kujawa is a graduated engineer from Gdansk University Of Technology on degree course of Technical Physics with specialization in Applied Physics and former RD engineer in Eltel Networks Energetyka S.A. and a passionate developer and software engineer which loves to challenge with hard problems and modern technologies. <br>
Knowledgeably connected in the fields of physics, mathematics, engineering and IT. Skilled in programming languages:
  </p>

  <mat-list dense >
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon> 
      General purpose: Julia,C, C++, CUDA, Python, Matlab/Octave, Mathematica 
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon>  
      Web: MERN stack(with apollo/graphql or redux), MEAN stack (with ngrx or graphql and rxjs), typescript, vanilla js 
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon>  
      MCU: C(AVR), Arduino 
    </mat-list-item>
   </mat-list>
   <br>
   <p>
    Specialized in numerical analysis, creating software applications allowing to solve engineering and scientific problems in the fields of:
   </p>

   <mat-list dense >
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon> 
      Heat Flows
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon>  
      Electromagnetic fields    
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon>  
      Forces occurring on overhead lines in case of short-circuit currents
    </mat-list-item>
   <mat-list-item>
    <mat-icon mat-list-icon>arrow_right</mat-icon>  
    Induced sheath voltages and sheath circulating currents problems
  </mat-list-item>
 </mat-list>
  </header>

 <mat-card class="main-card">

  <img mat-card-image src="assets/EM-field-3d.gif" alt="Photo of a Shiba Inu">
  <!-- <mat-card-actions style="display: flex; justify-content: center;" >
    <a class="project-button" mat-stroked-button color="background" href="https://github.com/wiktorkujawa/" >CHECK OUT MY GITHUB PROJECTS</a>
  </mat-card-actions> -->
</mat-card>
<div style="display: flex; 
justify-content: center;">
<a class="break-word" mat-stroked-button color="background" href="https://github.com/wiktorkujawa/" >CHECK OUT MY GITHUB PROJECTS</a>
</div>


<section className="projects" id="projects">
<mat-grid-list class="project-card" [cols]="(isMobile$ | async) ? 1 : 2" [gutterSize]="'10px'" rowHeight="40rem">

  <mat-grid-tile>

  
      <div>
          <a class="mat-display-1 break-word" style="display:flex; justify-content:center" mat-button href="https://cinema-manager.herokuapp.com">Project 1<br>
          Cinema manager app</a> 
          <a href="https://cinema-manager.herokuapp.com/">
        <img mat-card-image class="image" src="assets/EM-field-3d.gif"  alt="Photo of a Shiba Inu">
      </a>
        <div class="description"> App written with MEAN Stack(MongoDB, Express, Angular, Node.js) contains passport session authentication, API REST and rapidapi database. Frontend created with Angular with interactive components, especially Home component with calendar(angular-calendar).</div>
          <a mat-stroked-button style="display: flex; justify-content: center;" href="https://github.com/wiktorkujawa/">Full Story</a>
        <!-- <mat-card-actions style="display: flex; justify-content: center;" >
          <a class="project-button" mat-raised-button color="background" href="https://github.com/wiktorkujawa/" >CHECK OUT MY GITHUB PROJECTS</a>
        </mat-card-actions> -->
      </div>

  </mat-grid-tile>


  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

  
</mat-grid-list>
</section>

<!-- <mat-card class="main-card">

  <img mat-card-image src="assets/EM-field-3d.gif" alt="Photo of a Shiba Inu">
  <mat-card-actions style="display: flex; justify-content: center;" >
    <a class="project-button" mat-raised-button color="background" href="https://github.com/wiktorkujawa/" >CHECK OUT MY GITHUB PROJECTS</a>
  </mat-card-actions>
</mat-card> -->

   <!-- <ul style="text-align: justify;">
    <li> Heat Flows </li>
    <li>Electromagnetic fields</li>
    <li>Forces occurring on overhead lines in case of short-circuit currents</li>
    <li>Induced sheath voltages and sheath circulating currents problems</li>
    </ul> -->


  </article>
</div>
