.title {
  text-align: center;
}

.about {
  font-style: italic; 
  text-align: center;
}

.main-card {
  margin: 2rem 2rem 5rem 2rem;
}

.project-button {
  width: auto; z-index: 2;  white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
