<div class="m-5">
  <h1 style="text-align: center;">About</h1>
  <p style="font-style: italic; text-align: center;">
    Wiktor Kujawa is a graduated engineer from Gdansk University Of Technology on degree course of Technical Physics with specialization in Applied Physics and former RD engineer in Eltel Networks Energetyka S.A. and a passionate developer and software engineer which loves to challenge with hard problems and modern technologies. <br>
Knowledgeably connected in the fields of physics, mathematics, engineering and IT. Skilled in programming languages:
  </p>

  <mat-list dense >
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon> 
      General purpose: Julia,C, C++, CUDA, Python, Matlab/Octave, Mathematica 
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon>  
      Web: MERN stack(with apollo/graphql or redux), MEAN stack (with ngrx or graphql and rxjs), typescript, vanilla js 
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>arrow_right</mat-icon>  
      MCU: C(AVR), Arduino 
    </mat-list-item>
   </mat-list>
   <br>
   <p>
    Specialized in numerical analysis, creating software applications allowing to solve engineering and scientific problems in the fields of:
   </p>
</div>
