.title {
  text-align: center;
}

$hover-color: #FF4136;

.about {
  font-style: italic; 
  text-align: center;
}


.image {
  transition: transform .5s; /* Animation */
  &:hover{
    transform: scale(1.15);
  }
}

.mat-card-image:first-child {
  margin-bottom: -16px;
}

.project-card{
  margin-bottom: 10rem;
}

.break-word {
  white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}



.project-header {
  padding: 3rem !important;
  display: flex; 
  justify-content: center;
  text-align: center;
}

a {
  &:hover {
    color: $hover-color;
  }
}